.container {
	display: grid;
	grid-template-rows: 10rem 1fr;
}

@media only screen and (max-width: 600px) {
	.container {
		flex: 1;
		grid-template-rows: 7rem 1fr;
	}
}

.btnContainer {
	display: flex;
	align-items: flex-end;
}

.btn {
	padding: 1.5rem;
	flex: 1;
	border-radius: 0;
	background: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.275);
	outline: none;
	position: relative;
}

.btn:not(:last-child) {
	border-right: 1px solid rgba(0, 0, 0, 0.275);
}

.btnActive {
	background: white;
	border-bottom: 1px solid transparent;
}

.btnActive::before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: calc(100%);
	height: 0.5rem;
	display: block;
	background: rgb(88, 147, 241);
}

button {
	border: none;
}

.contentContainer {
	background-color: white;
	color: black;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	padding: 2rem;
}
.hidden {
	display: none;
}

p {
	text-align: justify;
}
