.map {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

path {
	stroke: orangered;
	stroke-width: 0.5rem;
	transition: all 0.5s;
	cursor: pointer;
}

path:hover {
	fill: springgreen;
	filter: drop-shadow(1rem 1rem 2rem rgb(0 0 0 / 0.9));
}

.svg {
	width: 55vw;
}

@media only screen and (max-width: 1150px) {
	.svg {
		width: 60vw;
	}
}

@media only screen and (max-width: 1000px) {
	.svg {
		width: 70vw;
	}
}

@media only screen and (max-width: 850px) {
	.svg {
		width: 80vw;
	}
}

@media only screen and (max-width: 700px) {
	.svg {
		width: 85vw;
	}
}

@media only screen and (max-width: 700px) {
	.svg {
		width: 85vw;
	}
}

@media only screen and (max-width: 500px) {
	.svg {
		width: 95vw;
	}
}
