.map {
	text-align: center;
	padding: 2rem;
}

path {
	stroke: orangered;
	stroke-width: 0.5rem;
	transition: all 0.5s;
	/* fill: deeppink; */
	/* transition: fill 0.3s; */
}

path:hover {
	/* stroke-width: 1.2rem; */
	fill: springgreen;
	/* transform: translateX(1.5rem); */
	filter: drop-shadow(1rem 1rem 2rem rgb(0 0 0 / 0.9));
}

.svg {
	width: 55vw;
}
